<!DOCTYPE html>
<html>
    <head>
        <title>WT TENNIS</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <meta name="author" content="corsini" />
        <meta name="keywords" content="Tennis, club, events, football, golf, non-profit, betting assistant, football,fitness, tennis, sport, soccer, goal, sports, volleyball, basketball,	charity, club, cricket, football, hockey, magazine, non profit, rugby, soccer, sport, sports, tennis" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}
            <!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/bootstrap.css') }}"/>    
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
            <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'/>
            <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
            <!--  <link href="css/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/font-awesome.min.css') }}"/>   
            <!-- <link href="css/component.css" rel="stylesheet" type="text/css" />-->
            <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/component.css') }}"/>  
            <!--   <link href="css/style_dir.css" rel="stylesheet" type="text/css" />-->
            <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/style_dir.css') }}"/>  
            <link rel="shortcut icon" type="image/png"   href="{{ asset('bundles/espritappfront/images/favicon.ico') }}" />
            <!-- <link href="css/responsive.css" rel="stylesheet" type="text/css" /> -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/responsive.css') }}"/>  
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        <section class="content-top-login">
            <div class="container">
                <div class="col-md-12">
                    <div class="box-support"> 
                        <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
                    </div>
                    <div class="box-login"> 
                        {% if app.user is not null %}  
                            <a href="{{path('fos_user_security_logout')}}">Log Out</a>
                            {# update profile current uset#}
                            <a href="{{ path('user_update',{'id':app.user.id}) }}"/>Edit Profil</a>
                        {% else %}
                            <a href="{{path('fos_user_security_login')}}">Login</a>
                        {% endif %}
                        {% if app.user is   null %}  
                            <a href="{{path('fos_user_registration_register')}}">Sign Up</a>
                        {% endif %}

                    </div>
                    <div class="cart-prod hiddenbox">
                        <div class="sec-prod">
                            <div class="content-cart-prod">
                                <i class="fa fa-times"></i>
                                <img src="http://placehold.it/160x160" alt="" />
                                <p>FIVE BLX</p>
                                <p>1 X $55.00</p>
                            </div>
                            <div class="content-cart-prod">
                                <i class="fa fa-times"></i>
                                <img class="racket-img" src="http://placehold.it/160x160" alt="" />
                                <p>FIVE BLX</p>
                                <p>1 X $125.00</p>
                            </div>
                            <div class="content-cart-prod">
                                <p class="cart-tot-price">Total: $180.00</p>
                                <a href="#" class="btn-cart">Go to cart</a>
                                <a href="#" class="btn-cart">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container box-logo">
            <header>
                <div class="content-logo col-md-12">
                    <div class="logo"> 
                        <!--  <img src="img/logo2.png" alt="" /> -->
                        <img src="{{ asset('bundles/espritappfront/images/logo2.png') }}" alt="" />
                    </div>
                    <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>
                    <div class="box-menu">

                        <nav id="cbp-hrmenu" class="cbp-hrmenu">
                            <ul id="menu">    

                                {#% if is_granted( 'ROLE_ADMINISTRATEUR' ) %#} 
                                    <li><a class="lnk-menu"   href="{{path('esprit_app_back_homepage')}}">Dashboard</a></li>
                                    {#%endif%#} 

                                <li><a class="lnk-menu" href="index.html">Home</a></li>
                                <!-- Formations  -->
                                <li>
                                    <a class="lnk-menu" href="#">Formations</a>
                                    <div class="cbp-hrsub sub-little">
                                        <div class="cbp-hrsub-inner"> 
                                            <div class="content-sub-menu">
                                                <ul class="menu-pages">
                                                    <li><a href="tournaments.html"><span>Joueurs</span></a></li>
                                                    <li><a href="tournaments.html"><span>Arbitres</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- Players  -->
                                <li><a class="lnk-menu" href="{{path('joueur_showfront')}}">Joueurs</a></li>
                                <li>
                                    <a class="lnk-menu" href="#">Competitions</a>
                                    <div class="cbp-hrsub sub-little">
                                        <div class="cbp-hrsub-inner"> 
                                            <div class="content-sub-menu">
                                                <ul class="menu-pages">
                                                    <li><a  href="{{path('competition_show')}}"><span>Competitions</span></a></li>
                                                    <li><a  href="{{path('matche_show')}}"><span>Matchs</span></a></li>
                                                    <li><a href="tournaments.html"><span>Stades</span></a></li>
                                                    <li><a  href="{{path('ticket_show')}}"><span>Tickets</span></a></li>
                                                      <li><a  href="{{path('event_showfront')}}"><span>Events</span></a></li>
                                                         <li><a  href="{{path('statistique')}}"><span>Statistique</span></a></li>
                                                </ul>
                                            </div>   
                                        </div>
                                    </div>
                                </li>
                                <!-- Clubs & Materiels  -->
                                <li>
                                    <a class="lnk-menu" href="#">Clubs & Materiels</a>
                                    <div class="cbp-hrsub sub-little">
                                        <div class="cbp-hrsub-inner"> 
                                            <div class="content-sub-menu">
                                                <ul class="menu-pages">
                                                    <li><a href="tournaments.html"><span>Clubs</span></a></li>
                                                    <li><a href="tournaments.html"><span>Materiels</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- Medias  -->
                                <li>
                                    <a class="lnk-menu" href="#">Medias</a>
                                    <div class="cbp-hrsub sub-little">
                                        <div class="cbp-hrsub-inner"> 
                                            <div class="content-sub-menu">
                                                <ul class="menu-pages">
                                                    <li><a href="#"><span>Events</span></a></li>
                                                    <li><a href="#"><span>Actualités</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </section>
        <section class="drawer">
            <div class="col-md-12 size-img back-img">
                <div class="effect-cover">
                    <h3 class="txt-advert animated">ATP World Tour Fan Credential</h3>
                    <p class="txt-advert-sub animated">Your all-access pass to experience the action on tour</p>
                </div>
            </div>                              

            <section id="login" class="container secondary-page">  
                <div class="general general-results players"> 
                    {% block content %}


                    {% endblock %}
                </div> 
            </section>


            <section id="sponsor" class="container">
                <!--SECTION SPONSOR-->
                <div class="client-sport client-sport-nomargin">
                    <div class="content-banner">
                        <ul class="sponsor second">
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                            <li><img src="http://placehold.it/273x133" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="footer-tag">
                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <h3>About Us</h3>
                            <p>Thank you for visiting tennisclub.com. Our mission is to 
                                provide unrivalled and unbiased informative and resources to help any sports fan who enjoys a flutter make informed and value led decisions.</p>
                            <p>Our mission is to 
                                provide unrivalled and unbiased informative, resources to help any sports fan who enjoys a flutter make.</p>
                        </div>
                        <div class="col-md-3 cat-footer">
                            <div class="footer-map"></div>
                            <h3 class='last-cat'>Categories</h3>
                            <ul class="last-tips">
                                <li><a href="tournaments.html">Tournaments</a></li>
                                <li><a href="results.html">All Results</a></li>
                                <li><a href="matches.html">Matches London ATP</a></li>
                                <li><a href="matches.html">Double ATP</a></li>
                                <li><a href="matches.html">Double WTP</a></li>
                                <li><a href="shops.html">Shop Best Price</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Last News</h3>
                            <ul class="footer-last-news">
                                <li><img src="http://placehold.it/320x213" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                                <li><img src="http://placehold.it/320x213" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                                <li><img src="http://placehold.it/320x213" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-newsletters">
                            <h3>Newsletters</h3>
                            <form method="post">     
                                <div class="name">
                                    <label for="name">* Name:</label><div class="clear"></div>
                                    <input id="Text1" name="name" type="text" placeholder="e.g. Mr. John Doe" required=""/>
                                </div>
                                <div class="email">
                                    <label for="email">* Email:</label><div class="clear"></div>
                                    <input id="Text2" name="email" type="text" placeholder="example@domain.com" required=""/>
                                </div>
                                <div id="loader">
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12">
                            <ul class="social">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-digg"></i></a></li>
                                <li><a href=""><i class="fa fa-rss"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                <li><a href=""><i class="fa fa-tumblr"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>   
    </body>

    <footer> 
        {% block footer %}
            <div class="col-md-12 content-footer">
                <p>© 2014 - 2015 wttennis.com. All rights reserved. </p>
            </div>
        {% endblock %}
    </footer>

    {% block javascript %}
        <!-- <script src="js/jquery-1.10.2.js" type="text/javascript"></script> -->
        <script src="{{ asset('bundles/espritappfront/js/jquery-1.10.2.js') }}" type="text/javascript"></script>   
        <!-- <script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>-->
        <script src="{{ asset('bundles/espritappfront/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>  
        <!--MENU-->
        <!--  <script src="js/menu/modernizr.custom.js" type="text/javascript"></script> -->
        <script src="{{ asset('bundles/espritappfront/js/menu/modernizr.custom.js') }}" type="text/javascript"></script>  
        <!--   <script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script> -->
        <script src="{{ asset('bundles/espritappfront/js/menu/cbpHorizontalMenu.js') }}" type="text/javascript"></script> 
        <!--END MENU-->
        <!-- Button Anchor Top-->
        <!--   <script src="js/jquery.ui.totop.js" type="text/javascript"></script> -->
        <script src="{{ asset('bundles/espritappfront/js/jquery.ui.totop.js') }}" type="text/javascript"></script> 
        <!--    <script src="js/custom.js" type="text/javascript"></script>-->
        <script src="{{ asset('bundles/espritappfront/js/jquery.accordion.js') }}" type="text/javascript"></script> 
        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {
                    "use strict";
                    $('.accordion').accordion({defaultOpen: 'section1'}); //some_id section1 in demo
                });
            });
        </script>

        <script src="{{ asset('bundles/espritappfront/js/custom.js') }}" type="text/javascript"></script> 
    {% endblock %}

</html>


